// *Variables
$color-blue:#1db4db;
// *Extends
%nav-item-colours {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0px;
}

// *Selectors
body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 0px;
    .slick-prev:before,
    .slick-next:before {
        color: white;
        background: #fc6042;
    }
    .planets-bg {
        background-image: url('../resources/images/common/planets-bg-origin.png');
        width: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        .heading-box {
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            h1 {
                font-weight: 300;
                color: white;
                font-size: 60px;
                padding: 200px 0px;
            }
        }
    }
    .google-title {
        padding: 55px 70px;
        h3 {
            font-size: 30px;
            color: white;
            padding-bottom: 40px;
        }
        span {
            display: block;
            font-size: 16px;
            color: white;
        }
    }
}

header {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        padding: 0px;
        margin-left: -8px;
        a {
            padding: 0px 0px 0px 2px;
            color: white;
            width: 90px;
            padding-left: 10px!important;
        }
        a:hover {
            background: transparent;
            color: #ef6d2e;
        }
    }
    .dropdown-menu.show {
        min-width: 50px;
        border: none;
        background: transparent;
    }
}

#map {
    width: 100%;
    height: 530px;
    background: orange;
    position: relative;
    z-index: 0;
    .google-title {
        background: #ec6c37;
        z-index: -1!important;
    }
}

.google-title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-108%);
    z-index: 10;
    background: #ec6c37;
    border-radius: 10px;
}

.triangle {
    background-repeat: no-repeat;
    position: absolute;
    top: 240px;
    left: 50%;
    z-index: 20;
    width: 20px;
    height: 50px;
    transform: translate(-40px);
}

main {
    article {
        .plan-items>ul {
            display: flex;
            justify-content: center;
            list-style: none;
        }
        section {
            .contact-box {
                background: #1db4db;
                h3 {
                    font-size: 36px;
                    color: white;
                    font-weight: 400;
                    text-align: center;
                    padding: 40px 0px;
                }
            }
            .add-padd {
                 :first-child {
                    background-repeat: no-repeat;
                    margin-bottom: 18px!important;
                    height: 50px!important;
                }
                 :nth-child(2) {
                    color: #1db4db;
                    font-size: 18px;
                }
                 :nth-child(4) {
                    font-size: 14px;
                }
            }
            .note {
                font-size: 16px;
                font-weight: 300;
                font-style: italic;
                color: #898989;
            }
            form {
                button {
                    background: #28292f;
                    color: white;
                    border: none;
                    border-radius: 3px;
                    padding: 10px 60px;
                    font-size: 14px;
                    font-weight: 700;
                }
                button:hover {
                    background: white;
                    color: #28292f;
                }
            }
        }
        section.contact-box {
            .contact-email {
                background-image: url('../resources/images/contacts/email-icon.png');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: contain;
                width: 100%;
                height: 110px;
                margin-bottom: 20px;
            }
            .contact-phone {
                background-image: url('../resources/images/contacts/phone-icon.png');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: contain;
                width: 100%;
                height: 110px;
                margin-bottom: 20px;
            }
        }
        section.slider-box {
            background: #f4f4f4!important;
            h2 {
                color: #1db4db;
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                padding-top: 50px;
            }
        }
        .contact {
            padding-top: 75px;
            padding-bottom: 160px;
             :first-child {
                 :nth-child(2) {
                     :nth-child(2) {
                        color: #232e4d;
                        font-size: 30px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                 :nth-child(4) {
                     :nth-child(2) {
                        color: #232e4d;
                        font-size: 28px;
                        font-weight: 700;
                        text-align: center;
                    }
                     :nth-child(3) {
                        color: #232e4d;
                        font-size: 28px;
                        font-weight: 700;
                        text-align: center;
                        margin-top: -10px;
                    }
                }
            }
        }
        .item-box {
            .pic-bg {
                background-repeat: no-repeat;
                background-position: top center;
                height: 550px;
                background-size: auto;
            }
            .item-text {
                h2 {
                    font-size: 36px;
                    font-weight: 100;
                }
                span {
                    display: block;
                    font-size: 14px;
                }
            }
            padding: 70px 15px;
            ul {
                padding-left: 0px;
                padding-top: 35px;
                li {
                    list-style: none;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        .hosting-types {
            padding: 50px 0px;
            .hosting-info {
                h2 {
                    font-size: 36px;
                    font-weight: 300;
                    padding: 40px 0px;
                    margin-bottom: 0px!important;
                }
                span {
                    font-size: 16px!important;
                    font-weight: 400;
                }
                ul {
                    padding-top: 0px!important;
                    li {
                        font-size: 16px;
                    }
                }
            }
            a {
                margin: -2px;
                border-radius: 0px;
                padding: 20px 70px;
                border: 1px solid #e4e4e4;
                font-size: 16px;
                font-weight: 500;
                color: #1db4db;
            }
            a.active {
                background: #e4e4e4;
                color: #2d3e50;
            }
            a:hover {
                background: #e4e4e4;
                color: #2d3e50;
            }
        }
        .plans-box {
            padding-top: 40px;
            padding-bottom: 60px;
            .plan-items {
                padding: 0px 15px;
                color: white;
                text-align: center;
                div {
                    div {
                        padding: 0px;
                        a {
                            padding: 10px 40px;
                            text-decoration: none;
                        }
                    }
                }
                 :nth-child(odd) {
                    font-size: 15px;
                    background: #2c82c9;
                    border-radius: 2px;
                    div:nth-child(odd) {
                        background: #2c82c9;
                        padding: 12px 0px;
                        font-weight: 500;
                         :nth-child(2) {
                            font-weight: 300;
                             :first-child {
                                font-size: 60px;
                                font-weight: 500;
                            }
                             :nth-child(2) {
                                font-size: 16px;
                            }
                        }
                        span {
                            background: #2c82c9;
                        }
                        div:nth-child(2) {
                            background: #1567ab;
                            span {
                                background: #1567ab;
                            }
                        }
                        div:first-child {
                            span {
                                font-size: 16px!important;
                            }
                        }
                        div:last-child {
                            padding: 20px 0px;
                        }
                        div {
                            a {
                                background: white;
                                color: #2c82c9;
                            }
                            a:hover {
                                background: #2d3e50;
                                color: white;
                            }
                        }
                    }
                    div:nth-child(even) {
                        background: #257bc1;
                        padding: 12px 0px;
                        span {
                            background: #257bc1;
                        }
                    }
                }
                 :nth-child(even) {
                    font-size: 15px;
                    background: #2d3e50;
                    border-radius: 2px;
                    align-self: center;
                    div:nth-child(odd) {
                        background: #2d3e50;
                        padding: 12px 0px;
                        font-weight: 500;
                         :nth-child(2) {
                            font-weight: 300;
                             :first-child {
                                font-size: 60px;
                                font-weight: 500;
                            }
                             :nth-child(2) {
                                font-size: 16px;
                            }
                        }
                        span {
                            background: #2d3e50;
                        }
                        div:nth-child(2) {
                            padding: 0px;
                        }
                        div:first-child {
                            span {
                                font-size: 16px!important;
                            }
                        }
                        div:last-child {
                            padding: 20px 0px;
                        }
                        div {
                            a {
                                background: #21b139;
                                color: white;
                            }
                            a:hover {
                                background: #2c82c9;
                                color: black;
                            }
                        }
                    }
                    div:nth-child(even) {
                        background: #273849;
                        padding: 12px 0px;
                        span {
                            background: #273849;
                        }
                    }
                }
            }
        }
        .slider-items {
            padding-bottom: 100px!important;
            div {
                div {
                     :first-child {
                        display: block;
                        font-size: 24px;
                        line-height: 25px;
                        padding-bottom: 25px;
                    }
                     :nth-child(2) {
                        display: block;
                        font-size: 18px;
                    }
                     :nth-child(3) {
                        display: block;
                        font-size: 14px;
                        padding-top: -10px;
                    }
                }
            }
        }
        .table {
            i {
                color: #2c82c9!important;
                font-weight: 700!important;
            }
            td {
                vertical-align: middle!important;
            }
            thead {
                tr {
                    th {
                        font-size: 16px;
                        font-weight: 500;
                        background: #2d3e50;
                        color: white;
                        border: 1px solid white;
                        text-align: center;
                    }
                     :first-child {
                        background: #2c82c9;
                        width: 300px;
                    }
                }
            }
            tbody {
                tr {
                     :first-child {
                        color: #2d3e50;
                        text-align: left;
                        font-size: 22px;
                        font-weight: 300;
                    }
                    td {
                        text-align: center;
                        color: #2c82c9;
                        font-weight: 700;
                    }
                }
                 :nth-child(3) {
                    td {
                        background: #e4e4e4;
                        text-align: center;
                        color: #2d3e50;
                        font-size: 24px;
                        font-weight: 700;
                    }
                     :nth-child(3) {
                        text-align: center!important;
                    }
                }
            }
        }
    }
    section.items {
        padding-bottom: 50px;
    }
    section.domain-prices {
        h2 {
            font-size: 36px;
            padding-top: 80px;
            padding-bottom: 50px;
            font-weight: 300;
        }
        .note-domain {
            padding-bottom: 70px!important;
        }
        table.table.table-striped.domain {
            background: white;
            thead {
                tr {
                    th {
                        background: transparent;
                        color: black;
                        text-align: center;
                        font-weight: 700;
                    }
                     :first-child {
                        width: 100px;
                    }
                }
            }
            tbody {
                tr {
                    th {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    td {
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

a.navbar-brand {
    background-image: url('../resources/images/common/logo.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 202px;
    height: 42px;
    padding: 0px;
    padding-bottom: 20px;
}

.footer-box {
    background: #28292f;
    padding: 40px 0px;
    .footer-items {
        .email-box {
            background-image: url('../resources/images/about-us/email-icon.png');
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            width: 100%;
            height: 40px;
             :first-child {
                padding-left: 15px!important;
            }
             :nth-child(2) {
                font-size: 18px;
                color: white;
                padding-left: 15px!important;
            }
        }
        .contacts {
             :first-child {
                 :first-child {
                    div {
                        padding-left: 30px;
                    }
                     :first-child {
                        font-size: 14px;
                        font-weight: 500;
                        color: #85899c;
                        margin-bottom: -5px;
                    }
                }
            }
        }
        .phone-box {
            background-image: url('../resources/images/about-us/telefon-icon.png');
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            width: 100%;
            height: 40px;
            margin-top: 20px;
             :first-child {
                margin-left: 15px!important;
            }
             :nth-child(2) {
                margin-left: 15px!important;
                font-size: 18px;
                color: white;
                font-weight: 500;
            }
        }
        ul>li {
            list-style: none!important;
            a {
                text-decoration: none;
                font-size: 16px;
                color: white;
            }
            a:hover {
                color: $color-blue;
            }
        }
    }
    .footer-logo {
        background-image: url('../resources/images/common/logo.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 202px;
        height: 42px;
        color: white;
        display: inline-block;
    }
    .footer-logo::before {
        content: '© 2020 Cloxter';
        position: absolute;
        top: 65px;
        left: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

.header-box {
    width: 100%;
    background: linear-gradient(to right, #292441, #1b395a);
    .language-menu {
        .btn {
            color: white;
            font-size: 13px;
        }
    }
    .dropdown {
        .btn {
            font-size: 13px;
        }
        .dropdown-item {
            font-size: 13px;
            background: #1d2b3e;
            border: 1px solid black;
            padding: 6px 0px;
        }
    }
    nav {
        padding: 0px;
        ul {
            padding-left: 130px;
        }
        ul>li>a.lang {
            display: none;
        }
        ul>li>a {
            color: white!important;
            padding: 20px!important;
        }
        ul>li>a {
            position: relative;
        }
        ul>li>a:hover {
            background: #1d2b3e;
        }
        ul>li:first-child>a::before {
            @extend %nav-item-colours;
            background: #fcb941;
        }
        ul>li:first-child>a:hover {
            color: #fcb941!important;
        }
        .active-host {
            background: #1d2b3e;
            color: #fcb941!important;
        }
        ul>li:nth-child(2)>a::before {
            @extend %nav-item-colours;
            background: #fc6042;
        }
        ul>li:nth-child(2)>a:hover {
            color: #fc6042!important;
        }
        .active-domain {
            background: #1d2b3e;
            color: #fc6042!important;
        }
        ul>li:nth-child(3)>a::before {
            @extend %nav-item-colours;
            background: #2c82c9;
        }
        ul>li:nth-child(3)>a:hover {
            color: #2c82c9!important;
        }
        .active-about-us {
            background: #1d2b3e;
            color: #2c82c9!important;
        }
        ul>li:nth-child(4)>a::before {
            @extend %nav-item-colours;
            background: #2cc990;
        }
        ul>li:nth-child(4)>a:hover {
            color: #2cc990!important;
        }
        .active-contacts {
            background: #1d2b3e;
            color: #2cc990!important;
        }
        .brand-box {
            padding-bottom: 20px;
        }
    }
}

.hosting-box {
    h1 {
        font-weight: 300;
        color: white;
        font-size: 60px;
        padding: 200px 0px;
    }
}

.partners {
    background: white;
    width: 100%;
    padding-bottom: 100px;
    .partners-bg {
         :first-child {
            width: 100%;
            height: 75px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    h1 {
        color: $color-blue;
        font-size: 30px;
        font-weight: 400;
        padding-top: 50px;
        padding-bottom: 60px;
    }
     :nth-child(2) {
         :first-child {
            div {
                background-position: center center;
                 :first-child {
                    background-position: left center;
                }
            }
        }
    }
}

.navbar {
    padding-left: 0px!important;
}

.table.domain {
    tbody {
         :nth-child(3) {
             :first-child {
                background: #f1f1f1;
            }
            td {
                background: #f1f1f1;
            }
        }
    }
}

table.part-content {
    tbody {
        tr:nth-child(n+8) {
            display: none!important;
        }
    }
}

table.all-content {
    tbody {
        tr:nth-child(n+100) {
            display: none!important;
        }
    }
}

// *Media Queries
// *LG
@media (max-width:1199.8px) {
    nav ul {
        padding-left: 50px!important;
    }
    article {
        section.domain-prices {
            table.domain {
                tbody {
                    tr {
                        td {
                            font-size: 14px!important;
                        }
                         :first-child {
                            font-size: 14px!important;
                        }
                    }
                }
                thead {
                    tr {
                        th {
                            font-size: 14px!important;
                        }
                    }
                }
            }
        }
    }
    .contact {
         :first-child {
             :nth-child(2) {
                 :nth-child(2) {
                    padding-bottom: 30px;
                    font-size: 24px!important;
                }
            }
             :nth-child(4) {
                 :nth-child(2) {
                    font-size: 24px!important;
                }
                 :nth-child(3) {
                    font-size: 24px!important;
                    margin-top: -10px;
                }
            }
        }
    }
    h1.text-center {
        font-size: 36px!important;
        padding: 100px!important;
    }
    .google-title {
        padding: 10px 20px!important;
        top: 160px;
        transform: translate(-110%);
        h3 {
            font-size: 24px!important;
            padding-bottom: 20px!important;
        }
        span {
            font-size: 14px;
        }
    }
}

input {
    color: #ec6c37!important;
    font-size: 14px!important;
}

input::-webkit-input-placeholder {
    font-size: 14px!important;
    font-weight: 400;
    color: #28292f!important;
}

textarea {
    color: #ec6c37!important;
    font-size: 14px!important;
}

textarea::-webkit-input-placeholder {
    font-size: 14px!important;
    font-weight: 400;
    color: #28292f!important;
}

textarea:focus,
input:focus {
    outline: none!important;
}

// *MD
@media (max-width: 991.8px) {
    article {
        section {
            .add-padd {
                padding-bottom: 50px;
            }
            .domain-prices {
                .text-left {
                    p {
                        text-align: center;
                    }
                }
            }
            .plans-box {
                .plan-items {
                     :nth-child(even) {
                        padding-top: 0px!important;
                        padding-bottom: 0px!important;
                    }
                     :nth-child(odd) {
                         :first-child {
                             :nth-child(4) {
                                padding-top: 10px!important;
                                padding-bottom: 10px!important;
                            }
                        }
                         :first-child {
                             :nth-child(6) {
                                padding-top: 10px!important;
                                padding-bottom: 10px!important;
                            }
                        }
                    }
                     :nth-child(even) {
                         :first-child {
                             :nth-child(4) {
                                padding-top: 10px!important;
                                padding-bottom: 10px!important;
                            }
                        }
                         :first-child {
                             :nth-child(6) {
                                padding-top: 10px!important;
                                padding-bottom: 10px!important;
                            }
                        }
                    }
                }
            }
        }
        section.domain-prices {
            h2 {
                text-align: center!important;
            }
        }
        .footer-box {
            .footer-items {
                 :first-child {
                    a {
                        margin: auto;
                    }
                }
            }
            .footer-logo {
                background-position: top center;
                margin: auto;
            }
            .footer-logo::before {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .dropdown {
            display: none;
        }
        .domain-box {
            h1 {
                font-size: 30px!important;
                padding: 50px!important;
            }
        }
        .about-us-box {
            h1 {
                font-size: 30px!important;
                padding: 50px!important;
            }
        }
        .header-box {
            padding-top: 20px;
            nav {
                button.navbar-toggler {
                    margin-bottom: 10px;
                }
            }
        }
        .heading-box {
            h1 {
                font-size: 30px!important;
                padding: 50px!important;
            }
        }
        .hosting-box {
            h1 {
                font-size: 30px!important;
                padding: 50px!important;
            }
        }
        .hosting-types {
            a {
                display: block;
                text-align: center;
            }
        }
        nav {
            ul.navbar-nav {
                padding-left: 0px!important;
            }
            ul>li>a.lang {
                display: block!important;
            }
            width:100%;
            padding:0px;
            margin:0px;
            ul>li:first-child>a::before {
                display: none;
            }
            ul>li:nth-child(2)>a::before {
                display: none;
            }
            ul>li:nth-child(3)>a::before {
                display: none;
            }
            ul>li:nth-child(4)>a::before {
                display: none;
            }
        }
        .partners {
             :nth-child(2) {
                 :first-child {
                    div {
                        background-position: center center!important;
                    }
                }
            }
        }
        article {
            section.domain-prices {
                table.domain {
                    tbody {
                        tr {
                            td {
                                font-size: 14px!important;
                            }
                             :first-child {
                                font-size: 14px!important;
                            }
                        }
                    }
                    thead {
                        tr {
                            th {
                                font-size: 14px!important;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-box {
        .footer-links {
            display: none!important;
        }
        .contacts {
            padding-left: 248px!important;
            padding-bottom: 50px!important;
        }
    }
    .dropdown {
        display: none;
    }
    a.navbar-brand {
        margin-top: 20px!important;
    }
    ul.navbar-nav {
        padding-left: 0px!important;
    }
    ul>li:first-child>a::before {
        display: none;
    }
    ul>li:nth-child(2)>a::before {
        display: none;
    }
    ul>li:nth-child(3)>a::before {
        display: none;
    }
    ul>li:nth-child(4)>a::before {
        display: none;
    }
    ul>li>a.lang {
        display: block!important;
    }
    br.line {
        display: none;
    }
    h1.text-center {
        padding: 50px!important;
        font-size: 28px!important;
    }
    .add-padd {
         :first-child {
            div {
                display: flex;
                justify-content: center;
            }
             :nth-child(2) {
                 :first-child {
                    display: block!important;
                    text-align: center;
                    justify-content: center!important;
                    span {
                        display: block!important;
                        padding-left: 15px!important
                    }
                }
            }
        }
    }
    .footer-logo::before {
        display: block!important;
    }
    .footer-links.first ul {
        padding-left: 140px!important
    }
    .table {
        tbody {
            tr {
                td {
                    font-size: 14px!important;
                    i {
                        font-size: 14px!important;
                        padding-top: 10px!important;
                    }
                    vertical-align: middle!important;
                }
            }
        }
    }
    section.contact-box {
        .contact-email {
            margin-bottom: 0px!important;
        }
        .contact-phone {
            margin-bottom: 0px!important;
        }
    }
    .google-title {
        h3 {
            font-size: 20px!important;
        }
        span {
            font-size: 14px!important;
        }
    }
}

// *SM
@media(max-width: 767.8px) {
    .about-us-box {
        h1 {
            padding: 50px 0px;
            font-size: 28px;
        }
    }
    .add-padd {
         :first-child {
            background-position: center center;
        }
        text-align:center;
    }
    .heading-box {
        h1 {
            padding: 50px 0px;
            font-size: 28px;
        }
    }
    .hosting-info {
        h2 {
            text-align: center;
        }
        text-align: left;
        ul {
            li {
                text-align: left;
            }
        }
    }
    .footer-links.first ul {
        padding-left: 0px!important;
        justify-content: flex-end!important;
        padding-left: 65px!important;
    }
    .item-text {
        h2 {
            text-align: center;
        }
        text-align: left;
    }
    .note {
        font-size: 12px!important;
    }
    button.slick-prev {
        margin-left: 20px!important;
    }
    button.slick-next {
        margin-right: 20px!important;
    }
    .footer-box {
        .contacts {
            padding-left: 160px!important;
        }
    }
    .google-title {
        display: none;
    }
    .triangle {
        display: none;
    }
}

// *XS 
@media(max-width: 575.8px) {
    .footer-box {
        .contacts {
            padding-left: 0px!important;
        }
    }
    .email-box {
        width: 200px!important;
        margin: auto;
    }
    .phone-box {
        width: 200px!important;
        margin: auto;
    }
}