@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    background: #fff;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 35%;
    display: block;
    width: 35px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: white;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    /* color: transparent; */
    outline: none;
    background: white;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
    background: white;
    color: white;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -32px;
}

[dir='rtl'] .slick-prev {
    right: -32px;
    left: auto;
}

.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    color: #fc6042!important;
    background: white!important;
}

[dir='rtl'] .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    color: #fc6042!important;
    background: white!important;
}

.slick-next {
    right: -35px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -35px;
}

.slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #fc6042!important;
    background: white!important;
}

[dir='rtl'] .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: #fc6042!important;
    background: white!important;
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 0px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: #0066cb;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    color: #0066cb;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    font-family: "Font Awesome 5 Free";
    font-variant: "far";
    font-weight: 900;
    content: "\f111";
    opacity: 1;
    color: #0066cb;
}

.slick-dots li button:before {
    /* font-family: 'slick'; */
    font-family: "Font Awesome 5 Free";
    font-style: "far";
    font-weight: 400;
    content: "\f111";
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: #cacaca;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #0066cb;
    font-weight: 900;
}